<div class="sidebar">
    <div class="logo-details">
        <i class="fa-solid fa-bars"></i>
        <span class="logo-name">Kimathi University<br />Booking System</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/admin">
                <i class="fa-solid fa-building"></i>
                <span class="link-name">Hostels List</span>
            </a>
        </li>
        <li>
            <a href="/admin/rooms">
                <i class="fa-solid fa-book"></i>
                <span class="link-name">Rooms List</span>
            </a>
        </li>
        <li>
            <a href="/admin/students">
                <i class="fa-solid fa-book"></i>
                <span class="link-name">Students List</span>
            </a>
        </li>
        <li>
            <a href="/admin/users">
                <i class="fa-solid fa-book"></i>
                <span class="link-name">Users List</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">