<div class="sidebar">
    <div class="logo-details">
        <i class="fa-solid fa-bars"></i>
        <span class="logo-name">Kimathi University<br />Booking System</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/matron">
                <i class="fa-solid fa-building"></i>
                <span class="link-name"><%= link1 %></span>
            </a>
        </li>
        <li>
            <a href="/matron/allocaterooms">
                <i class="fa-solid fa-book"></i>
                <span class="link-name"><%= link2 %></span>
            </a>
        </li>
</div>
<section class="home-section">
    <div class="home-content">