<div class="sidebar">
    <div class="logo-details">
        <i class="fa-solid fa-bars"></i>
        <span class="logo-name">Kimathi University<br />Booking System</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/studentdashboard">
                <i class="fa-solid fa-building"></i>
                <span class="link-name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/booking">
                <i class="fa-solid fa-book"></i>
                <span class="link-name">Book a Room</span>
            </a>
        </li>
        <li>
            <a href="/application">
                <i class="fa-solid fa-pen"></i>
                <span class="link-name">Application Details</span>
            </a>
        </li>
        <li>
            <a href="/student/accommodationdetails">
                <i class="fa-solid fa-house"></i>
                <span class="link-name">Accommodation Details</span>
            </a>
        </li>
        <!-- <li>
            <a href="/student/userdetails">
                <i class="fa-solid fa-user"></i>
                <span class="link-name">Account Details</span>
            </a>
        </li> -->
    </ul>
</div>
<section class="home-section">
    <div class="home-content">