<div class="form">
    <h3>INTERNAL HOSTEL APPLICATION FORM</h3>
        <form class="">
          <div class="mb-3">
            <label for="HostelNo" class="form-label">HOSTEL NUMBER</label>
            <input type="text" class="form-control" name="HostelNo" id="HostelNo" required/>

            <label for="HostelName" class="form-label">HOSTEL NAME</label>
            <input type="text" class="form-control" name="HostelName" id="HostelName" required/>

            <label for="Capacity" class="form-label">CAPACITY</label>
            <input type="number" class="form-control" name="Capacity" id="Capacity" required/>

            <label for="Type" class="form-label">TYPE</label>
            <input type="text" class="form-control" name="Type" id="Type" required/>

            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
</div>