<div class="form">
    <h3>HOSTEL REGISTRATION FORM</h3>
        <form class="" action="/admin/registerhostels" method="post">
          <div class="mb-3">
            <label for="HostelNo" class="form-label">Hostel Number</label>
            <input type="text" class="form-control" name="HostelNo" id="HostelNo" required/>

            <label for="HostelName" class="form-label">Hostel Name</label>
            <input type="text" class="form-control" name="HostelName" id="HostelName" required/>

            <label for="Capacity" class="form-label">Capacity</label>
            <input type="number" class="form-control" name="Capacity" id="Capacity" required/>

            <label for="Type" class="form-label">Type</label>
            <select id="Type" name="Type" size="1" class="form-select" required>
              <option value="" selected disabled>(select one)</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </form>
</div>