<div class="">
  <form class="form" action="/admin/registerrooms" method="post">
    <h3>ROOMS REGISTRATION FORM</h3>
    <div class="mb-3">
      <label for="RoomNo" class="form-label">Room Number</label>
      <input type="text" class="form-control" name="RoomNo" id="RoomNo" required />

      <label for="HostelNo" class="form-label">Hostel Number</label>
      <select id="HostelNo" name="HostelNo" size="1" class="form-select" required>
          <option value="" selected disabled>(select one)</option>
      <% if (sampleData.length > 0){ %>
        <% sampleData.forEach((data)=>{ %>
          <option value="<%= data.HostelNo %>" class="row"><%= data.HostelNo %>.   <%= data.HostelName %></option>
          <% }) %>
      <% } else { %>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
      <% } %>
      </select>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
  </form>
</div>